@model Course


 <!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="heading">
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                    <h1>Course Details</h1>
                    <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
                </div>
            </div>
        </div>
    </div>
    <nav class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="home/index">Home</a></li>
                <li class="current">Course Details</li>
            </ol>
        </div>
    </nav>
</div><!-- End Page Title -->
<!-- Courses Course Details Section -->
<section id="courses-course-details" class="courses-course-details section">

    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-8">
                <img src="/assets/img/events-item-1.jpg" class="img-fluid" alt="" >
                <h3 id="productName">@Model.Title</h3>
                <p id="productDescription">
                    @Model.Description
                </p>
            </div>
            <div class="col-lg-4">

                <div class="course-info d-flex justify-content-between align-items-center">
                    <h5>Trainer</h5>
                    <p><a href="#">@Model.User.UserName</a></p>
                </div>

                <div class="course-info d-flex justify-content-between align-items-center">
                    <h5>Course Fee</h5>
                    <p id="amount">@Model.Price</p>
                </div>

                <div class="course-info d-flex justify-content-center align-items-center " id="checkout-button">
                    <button type="button" class="btn btn-success">Buy Now</button>
                </div>

            </div>
        </div>

    </div>

</section>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        
         var stripe = Stripe('pk_test_51Ps9ncRvgIYJumtUcquqzAQA44GKB06TmzxXc44xwhTsMriHSWI7nq1DhxrKLygovcD7lvlF2QVjtQAzca15qcTQ00VBmrz2Gb');
         document.getElementById('checkout-button').addEventListener('click', function () {
             // Make a POST request to your server to create a Stripe Checkout session
             fetch('/Checkout/Checkout', {
                 method: 'POST',
                 headers: {
                     'Content-Type': 'application/json'
                 },
                 body: JSON.stringify({
                     CourseId:@Model.Id,
                     Title:`@Model.Title`,
                     Description:`@Model.Description`,
                     Price:@Model.Price
                 })

             })
                 .then(function (response) {

                     if (!response.ok) {
                         throw new Error('Network response was not ok ' + response.statusText);
                     }
                     return response.json();
                 })
                 .then(function (session) {
                      console.log(session);
                     return stripe.redirectToCheckout({ sessionId: session.sessionId });
                 })
                 .then(function (result) {
                     console.log("success");

                     if (result.error) {
                         alert(result.error.message);
                         
                     }
                   
                 })
                 .catch(function (error) {
                     console.log(error.message);
                 });
         });
        function createPayment()
        {
            var form= new FormData();
            form.append('Amount', @Model.Price);
            form.append('CourseId', @Model.Id);
            $.ajax({
                url: `/Payment/CreatePayment`,
                data:form,
                type:'POST',
                success:function(){
                    console.log("success");
                },
                error:function(){
                    console.log("Faild");
                }
            });
        }
        function createEnrollment()
         {
            var form = new FormData();
           
            form.append('CourseId', @Model.Id);
            $.ajax({
                url: `/Enrollment/CreateEnrollment`,
                data: form,
                type: 'POST',
                success: function () {
                    console.log("success");
                },
                error: function () {
                    console.log("Faild");
                }
            });
         }
    </script>
}
